*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

!external/mozilla/public_suffix_list.dat

composer.phar
composer.lock
vendor

.buildpath
.project
.settings
.idea

tests/unit/coverage/*
.vagrant/
.bash_history
*.DS_Store